@use '../../../../../styles/variables' as *;
@use 'sass:color';

table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba($shadow-color, 0.1);
    thead{
        th{
            background-color: color.adjust($secondary-color, $lightness: 35%);
            border-bottom: color.adjust($secondary-color, $lightness: 25%) 2px solid;
        }
    }
    th, td {
        text-align: left;
        padding: 8px;
    }
    tr{
        background-color: color.adjust($background-color, $lightness: -2.5%);
    }
    tr:nth-child(even) {
        background-color: color.adjust($background-color, $lightness: 1.5%);
    }

}
