<article class="container flex flex-col p-4 md:p-8">
    <div class="flex flex-row justify-between items-center mb-4">
        <h2 class="text-2xl font-bold">Lista de usuarios</h2>
        <button class="bt-sm bt-white" [routerLink]="['../import']">Subir CSV</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th class="text-right">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if(loading) {
                <tr>
                    <td colspan="4">
                        <app-loading class="pr-2" /> Cargando usuarios...
                    </td>
                </tr>
            }
            @else{
                @for(user of users$; track user.id) {
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.attributes.name }} @if(selfUser.id === user.id) { (Tú) }</td>
                        <td>{{ user.attributes.last_name }}</td>
                        <td>{{ user.attributes.phone }}</td>
                        <td>{{ user.attributes.email }}</td>
                        <td>{{ user.attributes.address }}</td>
                        <td class="flex justify-end gap-2">
                            @if(selfUser.id !== user.id) {
                                <button class="bt-sm" [disabled]="deleting === user.id" [ngClass]="{'loading': deleting === user.id}" (click)="deleteUser(user.id)">
                                    @if(deleting === user.id) {
                                        <app-loading /> Borrando
                                    } @else {
                                        <app-loading /> Borrar
                                    }
                                </button>
                            }
                        </td>
                    </tr>
                } @empty {
                    <tr>
                        <td colspan="4">
                            No se han encontrado usuarios.
                        </td>
                    </tr>
                }
            }
    </table>
</article>