@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/color.scss' as *;
@use '../../../../styles/typography.scss' as *;

article{
    background-color: $background-color;
    display: flex;
    min-width: 100dvw;
    flex-basis: auto;
    #cursor{
        display: inline-block;
        width: 2px;
        height: 2.5dvw;
        margin-bottom: -2px;
        background-color: $primary-color;
        @media screen and (width < 48rem){
            width: 3px;
            height: 5dvw;
            margin-bottom: -2px;
        }
        &.blink{
            animation: blink 1.3s infinite;
        }
    }
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}