

<article class="flex flex-col md:flex-row flex-1 min-h-0 max-w-5xl px-[1rem] md:px-[2rem]">
    <section class="flex flex-col md:flex-row gap-0 md:gap-9 justify-center items-start h-full min-h-0">
        <app-face class="w-full h-54 sm:h-54 md:h-100 lg:h-120 z-2" />
        <div class="flex overflow-auto flex-col snap-y snap-mandatory gap-6 pb-14 z-1">
            <div class="shrink-0 snap-start scroll-mx-6">
                <h1 id="title" class="text-4xl font-bold text-center pb-10">
                    Mí mí mí mí...
                </h1>
                <p class="pb-5">
                    Todo tiene un principio, a veces es un <i>&lt;?php</i>, otras un <i>&lt;html&gt;</i> y en 
                    escasas ocasiones un Amstrad CPC.
                </p>
                <p class="pb-5">
                    Mis primeras lineas de código las copie de un libro de BASIC que acompañaba a mi antiguo 
                    ordenador de 8 bits con la esperanza de que al terminar apareciera un <i>Pacman</i> o el 
                    <i>Renegade IV</i> de forma mágica.
                    Desde entonces ha pasado mucho tiempo y ahora sé que esto no es cuestion de magia sino de 
                    esfuerzo, dedicación y un poquito de obsesión.
                </p>
                <p class="pb-5">
                    Años después, tras algun que otro Pentium y alguna que otra placa base quemada, empecé a 
                    estudiar un Ciclo Formativo de Grado Superior en Desarrollo de Aplicaciones Informáticas.
                    Justo cuando empezaba a popularizarse la web y PHP destacaba como lenguaje de programación, 
                    poder crear aplicaciones que cualquiera pudiera usar desde cualquier lugar del mundo me 
                    pareció algo increíble y decidí que aunque fuera de forma autodidacta, quería aprender
                    todo lo que pudiera sobre este lenguaje.
                </p> 
                <p class="pb-5">
                </p>
            </div>
            <div class="shrink-0 snap-start scroll-mx-6">
              
            </div>
        </div>
    </section>
</article>