@use '../../../../styles/_color.scss' as *;
@use '../../../../styles/_typography.scss' as *;



#footer{
    background-color: $primary-color;
    color: $background-color;
    font-family: $title-font;
    font-weight: 200;

}