<div id="header" class="flex flex-row justify-between w-full">
    <div>
        <h1>
            <span class="hidden md:inline-block pr-2">Doonamis: </span>
            <span class="inline-block">Prueba técnica</span>
        </h1>
        <h1 class="subtitle">
            <span class="hidden md:inline-block pr-2">Desarrollador:</span>
            <span class="inline-block">Alberto Almenara</span>
        </h1>
    </div>
    @if(isLogged){
        <div class="flex flex-row items-center">
            <button class="bt-sm bt-white" [disabled]="loading" [ngClass]="{'loading': loading}" (click)="logout()">
                <app-loading [size]="20" />Logout
            </button>
        </div>
    }
</div>