@use '../../../../../../styles/_color.scss' as *;
@use '../../../../../../styles/_typography.scss' as *;

:host{
    display: flex;
    width: 100%;
    justify-content: end;
    position: relative;
}
#menu{
    display: flex;
    width: 100%;
    justify-content: end;
    position: relative;
    height: 2.35rem;
    transition: all .5s;
    #burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        width: 2rem;
        height: 100%;
        justify-self: end;
        align-self: end;
        position: relative;
        transition: all .5s;
        cursor: pointer;
        &:hover{
            width: 100%;
        }
        @media (hover: none) {
            &:hover{
                width: 2rem;
            }
        }
        a{
            display: flex;
            position: absolute;
            border-top: 2px solid $primary-color;
            overflow: hidden;
            height: 0;
            width: 100%;
            animation: none;
            transition: all .5s;
            pointer-events: none;
            &:nth-child(1){
                top: .8rem;
                animation: none;
            }
            &:nth-child(2){
                top: 1.3rem;
                animation: none;
            }
            &:nth-child(3){
                top: 1.8rem;
                animation: none;
            }
            h2{
                color: $primary-color;
                font-variation-settings: "wght" 100;
                transition: font-variation-settings .5s;
            }
        }
        &:not(.touched){
            a{
                width: 0;
                height: 0;
                &:nth-child(1){
                    animation: show-burger .5s 2.5s forwards, expand-burger .5s 3s forwards;
                }
                &:nth-child(2){
                    animation: show-burger .5s 2s   forwards, expand-burger .5s 3s forwards;
                }
                &:nth-child(3){
                    animation: show-burger .5s 1.5s forwards, expand-burger .5s 3s forwards;
                }
            }
        }
    }
    &.opened{
        height: calc(100dvh - 80px);
        nav{
            cursor: default !important;
        }
        #burger{
            width: 100%;
            a{
                width: 100%;
                cursor: pointer;
                &:nth-child(1){
                    .option{
                        opacity: 0;
                        animation: open-menu .5s .5s forwards;
                    }
                    height: 70px;
                    top:5rem;
                }
                &:nth-child(2){
                    .option{
                        animation: open-menu .5s 1s forwards;
                    }
                    height: 70px;
                    top:10rem;
                }
                &:nth-child(3){
                    .option{
                        animation: open-menu .5s 1.5s forwards;
                    }
                    height: 70px;
                    top:15rem;
                }
                .option{
                    opacity: 0;
                }
                &:hover{
                    h2{
                        font-variation-settings: "wght" 600;
                    }
                }
                @media (hover: none) {
                    &:hover{
                        h2{
                            font-variation-settings: "wght" 100;
                        }
                    }
                }
            }
        }
        #close-button{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 30px;
            right: 0;
            width: 2rem;
            height: 3.1rem;
            padding-bottom: 1.1rem;
            cursor: pointer;
            transition: all .5s;
            .line{
                width: 2px;
                height: 0;
                background-color: $primary-color;
                position: absolute;
                border-radius: 4px;
                transition: all .3s;
                cursor: pointer;
                &.top{
                    transform: rotate(45deg);
                    bottom: 0;
                    animation: show-close-button .5s .4s forwards, expand-close-button .5s 1.3s forwards;
                }
                &.bottom{
                    transform: rotate(-45deg);
                    bottom: 0;
                    animation: show-close-button .5s .4s forwards, expand-close-button .5s 1.3s forwards;
                }
            }
            &:hover{
                .top{
                    transform: rotate(225deg);
                }
                .bottom{
                    transform: rotate(135deg);
                }
            }
            @keyframes show-close-button{
                0%{
                    bottom: 0;
                    height: 3px;
                    pointer-events: none;
                }
                
                100%{
                    bottom: 1.5rem;
                    height: 3px;
                    pointer-events: all;
                }
                
            }
            @keyframes expand-close-button{
                0%{
                    height: 3px;
                    pointer-events: none;
                }
                100%{
                    bottom: .4rem;
                    height: 82%;
                    animation: none;
                    pointer-events: all;
                }
                
            }
        }
    }
}

@keyframes show-burger{
    0%{
        top: 2.35rem;
        width: 2px;
        pointer-events: none;
    }
    40%{
        width: 2px;
    }
    50%{
        width: 2px;
    }
    100%{
        width: 2px;
        pointer-events: all;
    }
}

@keyframes expand-burger{
    0%{
        width: 2px;
        pointer-events: none;
    }
    100%{
        width: 100%;
        animation: none;
        pointer-events: all;
    }
    
}

@keyframes open-menu{
    0%{
        opacity: 0;
        pointer-events: none;
    }
    100%{
        opacity: 1;
        pointer-events: all;
    }
}
