@import "../../../../../styles/_color.scss";
@import "../../../../../styles/_typography.scss";
@import "../../../../../styles/_variables.scss";

$sm-responsive-calc: 1;
$md-responsive-calc: 2;
$randomNumber: random(5);
:host{
    padding: 0 30px 0 20px;
    border-bottom: 2px solid $primary-color;
    min-width: max-content;
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;
    max-height: calc(100dvh - ($min-header-height + 20px));
    background-color: $background-color;
    position: sticky;
    top: $min-header-height ;
    @media screen and (max-width: 768px) {
        
    }
}
#person{
    position: relative;
    transform: skewX(-1deg);
    .body{
        transform: skewX(4deg);
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 25dvw;
        margin-top: -28%;
        min-width: 153px;
        max-width: 238.5px;
        aspect-ratio: .8/1;
        border-radius: 45% 70% 0 0;
        overflow: hidden;
        &::before{
            transform: skewX(-5deg);
            content: "";
            position: absolute;
            bottom: 0;
            left: -8px;
            width: 8dvw;
            min-width: 32.5px;
            max-width: 40px;
            aspect-ratio: 1/2.5;
            border-right: 2px solid $background-color;
        }
        &::after{
            transform: skewX(3deg);
            content: "";
            position: absolute;
            bottom: 0;
            right: -8px;
            width: 8dvw;
            min-width: 32.5px;
            max-width: 40px;
            aspect-ratio: 1/4;
            border-left: 2px solid $background-color;
        }
    }
    .neck{
        transform: skewX(1deg);
        background-color: $primary-color;
        width: 7.5dvw;
        min-width: 46px;
        max-width: 70px;
        aspect-ratio: 1/1.5;
        position: relative;
        margin-top: -20%;
        left: 30%;
        &::before{
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: calc(7.5dvw - 2px);
            min-width: 40px;
            max-width: 70px;
            aspect-ratio: 1/.5;
            border: 2px solid $primary-color;
            background-color: $background-color;
        }
        &::after{
            content: "";
            position: relative;
            display: block;
            top: -2px;
            left: -2px;
            border-radius: 2px;
            width: calc(7.5dvw - 2px);
            min-width: 40px;
            max-width: 70px;
            aspect-ratio: 1/.5;
            border: 2px solid $primary-color;
        }
    }
    .head{
        transform: skewX(6deg);
        background-color: $background-color;
        width: 12.5dvw;
        min-width: 74.5px;
        max-width: 117px;
        aspect-ratio: 1/1.5;
        position: relative;
        left: 26%;
        border-radius: 50% 35% 50% 45%;
        border: 2px solid $primary-color;
        z-index: 1;
        .hair{
            transform: skewX(20deg) rotate(-14deg);
            background-color: $primary-color;
            width: 12.5dvw;
            min-width: 76.5px;
            max-width: 116px;
            aspect-ratio: 1/.5;
            position: absolute;
            top: -5%;
            left: 0;
            border-radius: 45% 50% 35% 00%;
            z-index: 3;
            &::before{
                content: "";
                transform: skewX(-30deg) rotate(16deg);
                position: absolute;
                top: 13%;
                left: -35%;
                width: calc(10dvw / $md-responsive-calc);
                min-width: 30.5px;
                max-width: 47px;
                aspect-ratio: 1/2;
                border-radius: 50%;
                background-color: $primary-color;
                z-index: 0;
            }
        }
        .ear{
            transform: skewX(10deg);
            background-color: $background-color;
            width: 2.5dvw;
            min-width: 15px;
            max-width: 20px;
            aspect-ratio: 1/1.6;
            position: absolute;
            left: -11%;
            top: 50%;
            border-radius: 50% 45%;
            border-left: 2px solid $primary-color;
            border-top: 2px solid $primary-color;
            border-bottom: 2px solid $primary-color;
            border-right: 1px solid $background-color;
            z-index: 4;
            box-shadow: 10px 0px 0px $primary-color;
        }
        .nose{
            transform: skewX(10deg);
            background-color: $background-color;
            width: 3.5dvw;
            min-width: 20px;
            max-width: 32px;
            aspect-ratio: 1/1.5;
            position: absolute;
            left: 56%;
            top: 38%;
            border-radius: 0 0 50% 45%;
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            z-index: 3;
            box-shadow: 2px 2px 0 $primary-color;
        }
        .mouth{
            transform: rotate(5deg);
            width: 7.5dvw;
            min-width: 42px;
            max-width: 70px;
            aspect-ratio: 1/.3;
            position: absolute;
            left: 30%;
            top: 60%;
            background-color: $primary-color;
            border-left: 2px solid $primary-color;
            border-top: 2px solid $primary-color;
            border-right: 2px solid $primary-color;
            border-bottom: 2px solid $background-color;
            border-radius: 50%;
            z-index: 2;
        }
        .eyes{
            .eyebrow{
                .r{
                    transform: rotate(6deg);
                    background-color: $primary-color;
                    width: 3dvw;
                    min-width: 18px;
                    max-width: 28px;
                    aspect-ratio: 1/.26;
                    position: absolute;
                    border-radius: 0 50px 0 50px;
                    top: 29%;
                    left: 80%
                }
                .l{
                    transform: rotate(-7deg);
                    background-color: $primary-color;
                    width: 4dvw;
                    min-width: 24.5px;
                    max-width: 38px;
                    aspect-ratio: 1/.2;
                    position: absolute;
                    border-radius: 50px 0 50px 0;
                    top: 31%;
                    left: 37%;
                }
            }
            &::before{
                content: '';
                transform: rotate(5deg);
                background-color: $primary-color;
                width: 1.25dvw;
                min-width: 8px;
                max-width: 12px;
                aspect-ratio: 1/2;
                position: absolute;
                top: 35%;
                left: 50%;
                border-radius: 50%;
                z-index: 5;
                animation: eyes .3s;
                animation-delay: $randomNumber + s;
            }
            &::after{
                content: '';
                transform: rotate(5deg);
                background-color: $primary-color;
                width: 1.25dvw;
                min-width: 8px;
                max-width: 12px;
                aspect-ratio: 1/2;
                position: absolute;
                top: 35%;
                left: 83%;
                border-radius: 50%;
                z-index: 2;
                animation: eyes .3s;
                animation-delay: $randomNumber + s;
            }
        }
        .beard{
            transform: rotate(5deg);
            background-color: $primary-color;
            width: 12dvw;
            min-width: 71.5px;
            max-width: 112.5px;
            aspect-ratio: 1.7/1;
            position: absolute;
            top: 63%;
            left: 0;
            border-radius:0 6% 50% 50%;
            border-bottom: 2px solid $background-color;
            border-right: 2px solid $background-color;
            z-index: 0;
        }
        .glasses{
            .bridge{
                transform: skewX(-6deg);
                width: 3.5dvw;
                min-width: 17.4px;
                max-width: 33.1px;
                aspect-ratio: 1.2/1;
                position: absolute;
                top: 40%;
                left: 61.5%;
                border-radius: 50% ;
                border-top: 2px solid $primary-color;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                border-bottom: 2px solid transparent;
                z-index: 4;
            }
            .glass{
                transform: skewX(-6deg);
                width: 4dvw;
                aspect-ratio: 1/1;
                position: absolute;
                top: 36%;
                left: calc(50% - 2dvw);
                border-radius: 50% ;
                border: 2px solid $primary-color;
                &.l{
                    transform: rotate(5deg);
                    left: 36%;
                    min-width: 24.6px;
                    max-width: 37.5px;
                    z-index: 4;
                }
                &.r{
                    transform: rotate(5deg);
                    width: 2.75dvw;
                    min-width: 16px;
                    max-width: 25.8px;
                    left: 80%;
                    aspect-ratio: 1/1.5;
                }
            }
        }
    }
    &.young{
       
        .head{
            z-index: 4;
            .beard{
                display: none;
            }
            .hair{
                background-color: $primary-color;
                width: 14.5dvw;
                min-width: 76.5px;
                max-width: 126px;
                aspect-ratio: 1/.5;
                position: absolute;
                top: -5%;
                left: 0;
                border-radius: 45% 50% 35% 00%;
                z-index: 3;
                &::before{
                    content: "";
                    transform: skewX(-30deg) rotate(16deg);
                    position: absolute;
                    top: 13%;
                    left: -35%;
                    width: 6dvw;
                }
            }
            .mouth{
                transform: rotate(5deg);
                width: 7.5dvw;
                min-width: 42px;
                max-width: 70px;
                aspect-ratio: 1/.3;
                position: absolute;
                left: 30%;
                top: 60%;
                background-color: transparent;
                border-left: 2px solid transparent;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
                border-bottom: 2px solid $primary-color;
                border-radius: 50%;
            }
            .glasses{
                display: none;
            }
            .ear{
                box-shadow: 0px 0px 0 $primary-color;
            }
        }
        .neck{
            transform: skewX(1deg);
            background-color: transparent;
            width: 6dvw;
            min-width: 46px;
            max-width: 70px;
            aspect-ratio: 1/1.5;
            position: relative;
            margin-top: -20%;
            left: 30%;
            z-index: 3;
            &::after{

                background-color: $background-color;
                width: 6.5dvw;
                height: 6.5dvw;
                top: -7dvw;
                min-width: none;
                max-width: none;
                border-bottom: none;
            }
            &::before{
                position: relative;
                background-color: $background-color;
                border-radius: 50%;
                width: 7.6dvw;
                top: 3dvw;
                left: -.6dvw;
                height: 6dvw;
                min-width: none;
                max-width: none;
                transform: rotate(45deg);

            }
        }
        .body{
            background-color: $background-color;
            border: $primary-color 2px solid;
            width: 25dvw;
            min-width: 153px;
            max-width: 238.5px;
            aspect-ratio: .8/1;
            margin-top: -28%;
            border-radius: 45% 70% 0 0;
            background-image: 
            linear-gradient(to bottom, transparent 95%, $primary-color 5%),
            linear-gradient(to bottom, transparent 75%, $primary-color 74%, $primary-color  88%, transparent 80%),
            linear-gradient(to right, transparent  95%, $primary-color 5%),
            linear-gradient(to right, transparent 75%, $primary-color 74%, $primary-color  88%, transparent 80%);
            background-size: 32px 32px, 32px 32px;
            overflow: hidden;
            &::before{
                background-color: $background-color;
                box-shadow: 2px -2px 0 $primary-color;
                border: none;
            }
            &::after{
                background-color: $background-color;
                box-shadow: -2px -2px 0 $primary-color;
                border: none;
            }
        }
    }
}

@keyframes eyes {
    0% { transform: rotateX(0deg)}
    10% { transform: rotateX(90deg)}
    20% { transform: rotateX(0deg)}

    80% { transform: rotateX(0deg)}
    90% { transform: rotateX(90deg)}
    100% { transform: rotateX(0deg)}
}