<div id="person">
    <div class="head">
        <div class="hair"></div>
        <div class="eyes">
            <div class="eyebrow">
                <div class="l"></div>
                <div class="r"></div>
            </div>
        </div>
        <div class="ear"></div>
        <div class="nose"></div>
        <div class="mouth"></div>
        <div class="beard"></div>
        <div class="glasses">
            <div class="bridge"></div> 
            <div class="glass l"></div>
            <div class="glass r"></div>
        </div>
    </div>
    <div class="neck"></div>
    <div class="body">
        <div class="shirt"></div>
        <div class="arms">
            <div class="arm"></div>
            <div class="arm"></div>
        </div>
    </div>
</div>