@import 'styles/color';
@import 'styles/typography';

html, body{
    display: flex;
    background-color: $background-color;
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}
.title{
    font-family: $title-font;
}
h1{
    font-size: 3rem;
    font-family: $title-font;
    color: $primary-color;
}
h2{
    font-size: 2rem;
    font-family: $text-font;
    font-weight: 100;
    color: $secondary-color;
}
