@import "../../../../../../styles/_color.scss";
@import "../../../../../../styles/_typography.scss";


$sm-responsive-calc: 1;
$md-responsive-calc: 2;

svg{
    width: 100%;
    height: 100%;
}
#os{
    color: $background-color;
    width: 100%;
    height: 100%;
    border: 0;
    padding: calc(2dvw / $md-responsive-calc);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    clip-path: url("#screen-path");
    @media screen and (width < 48rem){
        padding: calc(2dvw / $sm-responsive-calc);
    }
    #basic{
        padding: calc(2dvw / $md-responsive-calc);
        animation: appear 3s ease-in-out;
        @media screen and (width < 48rem){
            padding: calc(2dvw / $sm-responsive-calc);
        }
        p{
            color: white !important;
            font-family: $os-font;
            font-size: calc(.745dvw / $md-responsive-calc);
            @media screen and (width < 48rem){
                font-size: calc(.745dvw / $sm-responsive-calc);
            }
            #cursor{
                display: inline-block;
                width: calc(1dvw / $md-responsive-calc);
                height: calc(1dvw / $md-responsive-calc);
                background-color: $background-color;
                margin-bottom: calc(-.05dvw / $md-responsive-calc);
                @media screen and (width < 48rem){
                    width: calc(1dvw / $sm-responsive-calc);
                    height: calc(1dvw / $sm-responsive-calc);
                    margin-bottom: calc(-.05dvw / $sm-responsive-calc);
                }
            }
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background: linear-gradient( transparent 0%, $background-color 100%);
        background-size: 200% 100%;
        background-position: 0% 0%;
        transform: translateY(-100%);
        opacity: .03;
        rotate: -.8deg;
        animation: scan 5s linear infinite;
        z-index: 1;
        @keyframes scan {
            0% { transform: translateY(-100%); }
            100% { transform: translateY(1000%); }
        }
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: calc(7dvw / $md-responsive-calc);
        box-shadow: inset 0 0 25px $shadow-color;  
        background-color: $background-color;
        width: 100%;
        height: 100%;
        display: flex;
        animation: blink .05s infinite;
        z-index: 2;
        @media screen and (width < 48rem){
            border-radius: calc(7dvw / $sm-responsive-calc);
        }
        @keyframes blink {
            0% { opacity: .4; }
            50% { opacity: .35; }
            100% { opacity: .4; }
        }
        
    }

    @keyframes appear {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}
