$white:  #fff6e7;
$black:  #232425;
$red:    #C66043;
$green:  #daf299;
$error:  #D33F3F;
$blue:   #b3d4fc;
$yellow: #f2e6c4;


// Color background
$background-color:  $white;
// Main colors
$primary-color:     $black;
$secondary-color:   $red;

$shadow-color:      $black;